html {
  background-color: black;
  margin-top: 1%;
  flex-direction: column;
}

.titulo {
  text-align: center;
  background-color: black;
  color: bisque;
  margin-bottom: 1vh;
}
.main {
  text-align: center;
  display: flex;
  background-color: black;
  color: whitesmoke;
  display: table-cell;
  align-items: center;
  padding: 100px;
  padding-left: 0px;
  width: 10%;
}

#input {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.box-calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: double;
  background-color: greenyellow;
  color: green;
  width: 400px;
  border-radius: 2%;
  margin-left: 10%;
  padding-top: 15%;
  height: 400px;
  padding: 15px;
}
.box-mcalculo {
  display: grid;
  padding: 0vw;
  color: black;
  margin-right: 0;
  padding-left: 20%;
  border: 2px dashed #ff0000;
  text-align: center;
  margin-left: 300%;
  margin-top: -150%;
  width: 400px;
}
.box-memoria {
  margin-top: 1vh;
  text-align: center;
  font-weight: bold;
  color: #ff0000;
  font-weight: bold;
  padding-right: 20%;
}
#result {
  font-weight: bold;
  color: chocolate;
}
.mcalculo,
p {
  color: bisque;
  text-align: justify;
}
